*{

    margin: 0%;
    padding: 0%;
}



.cabeçalho {
    background-color: aqua;
    
    color:black;
    display: flex;
    padding: 24px;
    justify-content: space-around;

    }
.cabeçalho-imagem {
    width: 5%;
    height: 5%;
}
.cabeçalho-item{
    display: inline-block;
    font-size: 30px;
    padding: 0 0 0 20px;
}
.escola{
    background-color: rgb(240, 212, 175);
    color: white;
    font: size 21px; ;
    padding: 300px 250px ;

}

.escola-titulo {

    padding: 24px 0 ;
}



    


